<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
            <div class="container">
                <nav class="navbar navbar-default">
                  <div class="container">
                      <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer
                </div>
                   <div>
                     <ul class="nav navbar-nav">
                       <li class="active"><a href="index.xhtml">Home</a></li>
                       <li class="active"><a href="detail.xhtml?customerID=1">Detail</a></li>
                       <li class="active"><a href="edit.xhtml?customerID=1">Edit</a></li>
                       <li class="active"><a href="add.xhtml">Add</a></li>                       
                     </ul>
                     </div>
                     </div>
                     </nav>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                <table class="table table-bordered ">


                    <tr>
                        <td>
                            <h:outputLabel value="firstName" for="firstName" />
                        </td>
                        <td>
                            <h:inputText id="firstName" value="#{customer.firstName}" title="firstName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="lastName" for="lastName" />
                        </td>
                        <td>
                            <h:inputText id="lastName" value="#{customer.lastName}" title="lastName" />
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <h:outputLabel value="phoneNumber" for="phoneNumber" />
                        </td>
                        <td>
                            <h:inputText id="phoneNumber" value="#{customer.phoneNumber}" title="phoneNumber" />
                        </td>
                    </tr>                 
                     <tr>
                        <td>
                            <h:outputLabel value="email" for="email" />
                        </td>
                        <td>
                            <h:inputText id="email" value="#{customer.email}" title="email" />
                        </td>
                    </tr>
                     <tr>
                        <td>
                            <h:outputLabel value="dob" for="dob" />
                        </td>
                        <td>
                            <h:inputText id="dob" value="#{customer.dob}" title="dob" />
                        </td>
                    </tr>                 
                     <tr>
                        <td>
                            <h:outputLabel value="industry" for="industry" />
                        </td>
                        <td>
                            <h:inputText id="industry" value="#{customer.industry}" title="industry" />
                        </td>
                    </tr>  

                    <tr>
                        <td width ="200">
                            <h:outputLabel value="streetNumber" for="streetNumber" />
                        </td>
                        <td>
                            <h:inputText id="streetNumber" value="#{customer.streetNumber}" title="streetNumber"
                            required="true"
                                         validatorMessage="streetNumber cannont be empty"
                                                 requiredMessage="Please enter streetNumber " />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="streetAddress" for="streetAddress" />
                        </td>
                        <td>
                            <h:inputText id="streetAddress" value="#{customer.streetAddress}" title="streetAddress" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="suburb" for="suburb" />
                        </td>
                        <td>
                            <h:inputText id="suburb" value="#{customer.suburb}" title="suburb" />
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <h:outputLabel value="state" for="state" />
                        </td>
                        <td>
                            <h:inputText id="state" value="#{customer.state}" title="state" />
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h:outputLabel value="postcode" for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{customer.postcode}" title="postcode" />
                        </td>

                    </tr>
                    
                    
                                     
                </table>

                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" />
                <h:link id="close" value="Close" outcome="faces/index.xhtml"
						          class="btn btn-primary" />

            </h:form>

        </f:view>
            </div>
   

    </h:body>
</html>
