<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
            <div class="container">
                <nav class="navbar navbar-default">
                  <div class="container">
                      <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer  Details
                </div>
                   <div>
                     <ul class="nav navbar-nav">
                       <li class="active"><a href="index.xhtml">Home</a></li>
                       <li class="active"><a href="detail.xhtml?customerID=1">Detail</a></li>
                       <li class="active"><a href="edit.xhtml?customerID=1">Edit</a></li>
                       <li class="active"><a href="add.xhtml">Add</a></li>                       
                     </ul>
                     </div>
                     </div>
                     </nav>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                                        <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>
                        </td>
                    </tr>
                    
                                        <tr>
                        <td width ="150" valign="top">First name:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "firstName" >#{customerController.customer.firstName}</h:outputLabel>
                        </td>
                    </tr>
                                        <tr>
                        <td width ="150" valign="top">Last name:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "lastName" >#{customerController.customer.lastName}</h:outputLabel>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width ="150" valign="top">phoneNumber:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "phoneNumber" >#{customerController.customer.phoneNumber}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="150" valign="top">email:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "email" >#{customerController.customer.email}</h:outputLabel>
                        </td>
                    </tr>

					<tr>
                        <td width ="150" valign="top">dob:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "dob" >#{customerController.customer.dob}</h:outputLabel>
                        </td>
                    </tr>
					<tr>
                        <td width ="150" valign="top">industry:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "industry" >#{customerController.customer.industry}</h:outputLabel>
                        </td>
                    </tr>
					<tr>
                        <td width ="150" valign="top">address:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "address" >#{customerController.customer.address}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Contact Person: </td>

                        <td valign="bottom">
                            <h:outputLabel id = "ContactName" >#{customerController.customer.contactPerson.toString()}</h:outputLabel>
                        </td>
                    </tr>

                 </table>
                 <h:link id="close" value="Close" outcome="faces/index.xhtml"
 						          class="btn btn-primary" />

            </h:form>
        </div>
    </h:body>
</html>
