<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
            <div class="container">
                <nav class="navbar navbar-default">
                  <div class="container">
                      <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Customer 
                </div>
                   <div>
                     <ul class="nav navbar-nav">
                       <li class="active"><a href="index.xhtml">Home</a></li>
                       <li class="active"><a href="detail.xhtml?customerID=1">Detail</a></li>
                       <li class="active"><a href="edit.xhtml?customerID=1">Edit</a></li>
                       <li class="active"><a href="add.xhtml">Add</a></li>                       
                     </ul>
                     </div>
                     </div>
                     </nav>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>

                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">First name: </td>

                        <td valign="bottom">
                            <h:inputText id = "firstName" value="#{customerController.customer.firstName}"  required="true"
                                         validatorMessage="FirstName cannont be empty"
                                                 requiredMessage="Please enter firstname. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Last name: </td>

                        <td valign="bottom">
                            <h:inputText id = "lastName" value="#{customerController.customer.lastName}"  required="true"
                                         validatorMessage="LastName cannont be empty"
                                                 requiredMessage="Please enter lastname. "></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">phoneNumber: </td>

                        <td valign="bottom">
                            <h:inputText id = "phoneNumber" value="#{customerController.customer.phoneNumber}"  required="true"
                                         validatorMessage="phoneNumber cannont be empty, with minmum 3 characters"
                                         
                                                 requiredMessage="Please enter phoneNumber ">                   <f:validateLength minimum="3" /></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">email: </td>

                        <td valign="bottom">
                            <h:inputText id = "email" value="#{customerController.customer.email}"  required="true"
                                         validatorMessage="email cannont be empty"
                                                 requiredMessage="Please enter email "></h:inputText>
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">dob: </td>

                        <td valign="bottom">
                            <h:inputText id = "dob" value="#{customerController.customer.dob}"  required="true"
                                         validatorMessage="dob cannont be empty"
                                                 requiredMessage="Please enter dob "></h:inputText>
                        </td>
                        </tr>
                    <tr>
                        <td width ="100" valign="top">industry: </td>

                        <td valign="bottom">
                            <h:inputText id = "industry" value="#{customerController.customer.industry}"  required="true"
                                         validatorMessage="industry cannont be empty"
                                                 requiredMessage="Please enter industry "></h:inputText>
                        </td>
                    </tr>                        
                   
                </table>

                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(CustomerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerID" value="#{customerController.customerId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/index.xhtml"
						          class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>
