<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
    
<!--         <div class="container">
            <div class="navbar navbar-inverse">
              <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer  List
                </div>
            </div>
             -->
            
            <div class="container">
                <nav class="navbar navbar-default">
                  <div class="container">
                      <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer  List
                </div>
                   <div>
                     <ul class="nav navbar-nav">
                       <li class="active"><a href="index.xhtml">Home</a></li>
                       <li class="active"><a href="detail.xhtml?customerID=1">Detail</a></li>
                       <li class="active"><a href="edit.xhtml?customerID=1">Edit</a></li>
                       <li class="active"><a href="add.xhtml">Add</a></li>                       
                     </ul>
                     </div>
                     </div>
                     </nav>
                   



            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each property in properties ArrayList... -->
                    <tr>
                            <td>
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td>
                                <h:outputLabel id="FirstName" value="FirstName"  />
                            </td>
                         
                             <td>
                                <h:outputLabel id="LastName" value="LastName"/>
                            </td>

                     </tr>

                    <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"   var="customer" varStatus="status">

					<tr>
						<td><h:outputText
								value="#{customerApplication.customers.get(status.index).customerId}"
								id="customerID" /></td>

						<td><h:outputText id="firstName"
								value="#{customerApplication.customers.get(status.index).firstName}" />
						</td>
						<td><h:outputText id="lastName"
								value="#{customerApplication.customers.get(status.index).lastName}"></h:outputText>
						</td>

                            <td>
                              <h:link value="View | " outcome="faces/detail.xhtml">
                              <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerID" value="#{status.index + 1}"/>
                              </h:link>

                              <h:link value="Edit | " outcome="faces/edit.xhtml">
                              <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                You can get the value from next page using the indexController -->
                                <f:param name="customerID" value="#{status.index + 1}"/>
                              </h:link>

                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).customerId)}" disabled="#{customerApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>

                                <h:outputText value=" "/>
                            </td>
                        </tr>

                    </ui:repeat>

                </table>

                <div>
                    <h:commandButton id="add" value="Add" action="add.xhtml" class="btn btn-primary" />

                    <h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomer.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>

            </h:form>
        </div>
    </h:body>
</html>
